<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.aldaviva" level="INFO"/>
    
    <!-- Set the http logger to TRACE level for HTTP wire logging -->
    <logger name="http" level="warn"/>
    <logger name="twitter4j" level="warn"/>

</configuration>